.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.freeBox___1EtJx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 100px;
  background: #621313;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBoxmenuToggle___1EtJxXfpwu {
    background: #621313;
  }
}
.freeBox___5Sq6F {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  background: none;
  flex-grow: 0;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___5Sq6F {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 59px;
  position: relative;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__ooV2G {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__ooV2G > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ooV2G > :global(.__wab_flex-container) > *,
.freeBox__ooV2G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ooV2G > :global(.__wab_flex-container) > picture > img,
.freeBox__ooV2G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .bowlingLink {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .bowlingLink2 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .bowlingLink3 {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .bowlingLink6 {
    display: none;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg {
    display: block;
  }
}
.mobileMenu {
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: #ad3737;
  transition-property: all;
  transition-duration: 2s;
  min-width: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  -webkit-transition-property: all;
  -webkit-transition-duration: 2s;
}
.mobileMenu > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mobileMenu {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .mobileMenu > * {
    grid-column: 4;
  }
}
.mobileMenumenuToggle > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 930px) {
  .mobileMenumenuToggle {
    display: grid;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .mobileMenumenuToggle > * {
    grid-column: 4;
  }
}
.freeBox__xAoQj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__sruk9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link___66LoP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link__cNesO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link__uJc0P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link__m96Wu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link__s47 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link__t3TcW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link___5VrVw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
  border-bottom: 2px solid #621313;
}
.link__xqyJi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
}
